<footer>
    <div class="f-info">
        <div class="f-info-socials">
        <a href="facebook"><i class="fa-brands fa-facebook"></i></a>
        <a href="twitter"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="insta"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="f-info company">&copy;WanderLust Private Limited</div>
    <div class="f-info-links">
        <a href="/terms">Terms |</a>
        <a href="/privacy">Privacy |</a>
        <a href="/companydetails">Company Details</a>
    </div>
    </div>
</footer>