.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 ;
}
.f-info{
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.f-info-socials{
    margin-top: 10px;
}
.f-info-links{
    margin-bottom: 10px;
}
.f-info-socials a{
color: #222222;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.card{
    border : none;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1.2rem;
    /* width: 100%; */
    height: 220px;
    object-fit: cover;
}
body{
  font-family: "Plus Jakarta Sans", sans-serif;
}
a{
    text-decoration: none;
}
.card:hover{
    opacity: 0.6;
}